<%- include('../partials/header') %>

<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Subcategories</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-0">View Sub-Categories</h5>
          </div>
          <table class="table table-bordered table-hover table-responsive text-center align-middle">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Subcategory</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% if(subcategories && subcategories.length > 0){ %>
                <% subcategories.forEach((subcategory, index) => { %>
                  <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td>
                      <% if(subcategory.image){ %>
                        <img src="<%= subcategory.image %>" alt="<%= subcategory.name %>" style="width:100px;height:100px;object-fit:cover;border-radius:6px;border:1px solid #ccc;box-shadow:0 2px 6px rgba(0,0,0,0.2);transition:transform 0.2s;" onmouseover="this.style.transform='scale(1.05)'" onmouseout="this.style.transform='scale(1)'">
                      <% } else { %>
                        N/A
                      <% } %>
                    </td>
                    <td><%= subcategory.name %></td>
                    <td>
                      <a href="/subcategory/delete/<%= subcategory._id %>" class="btn btn-danger">Delete</a>
                      <a href="/subcategory/edit/<%= subcategory._id %>" class="btn btn-warning">Edit</a>
                    </td>
                  </tr>
                <% }) %>
              <% } else { %>
                <tr>
                  <td colspan="4">No subcategories found.</td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</div>


